# Dependencies
node_modules/

# Build outputs
dist/

# Environment Variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.tsbuildinfo
.vite-inspect
